//colors
$purple: #7638f9 !default;
$white: #ffffff !default;
$black: #1b1920 !default;
//theme color variable
$primary: $purple !default;
$gray-100: #99999a !default;
$gray-200: #d8d8d8 !default;
$gray-300: #f9f9f9 !default;
