@import "../scss/vcard-templates";
@import "custom";

.iti {
    display: block !important;
    width: 100%;
}

.swal-modal .swal-text {
    text-align: center;
}

.logo-fix-size {
    max-height: 60px !important;
    max-width: 120px !important;
    width: 100% !important;
    object-fit: cover !important;
}

.object-fit-cover {
    object-fit: cover !important;
}

.bg-dark-white {
    color: black !important;
    background: white !important;
}

.sidebar-app-logo {
    max-height: 50px;
    max-width: 120px;
}

body {
    overflow-x: hidden;
}

#toast-container > div {
    min-width: 400px !important;
    @media (max-width: 575px) {
        min-width: 300px !important;
    }
}

.nfccard {
    width: 20% !important;
}

@media (max-width: 1700px) {
    .nfccard {
        width: 25% !important;
    }
}

@media (max-width: 1400px) {
    .nfccard {
        width: 33.33% !important;
    }
}

@media (max-width: 768px) {
    .nfccard {
        width: 50% !important;
    }
}

@media (max-width: 501px) {
    .nfccard {
        width: 100% !important;
    }
}

.nfc-img-radio {
    display: block;
    position: relative;
    cursor: pointer;
    max-width: 22rem;
    max-height: 200px;
    height: 200px;
    margin: auto;
    overflow: hidden;
    // height: 9rem;
    position: relative !important;
    box-shadow: rgba(0, 0, 0, 0.35) 8px 8px 10px !important;
    border: 1px solid #000 !important;

    img {
        width: 100%;
        height: 100%;
        transition-duration: 0.2s;
        transform-origin: 50% 50%;
        // object-fit: cover;
        object-position: top;
        max-height: 13rem;
        transition: 5s all ease;
    }
    &::after {
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        top: 0;
        left: 0;
        background-color: #eff3f6a6;
        opacity: 0;
    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }
}

.nfc-img-radio.img-border {
    border: 3px solid #0b9ef7 !important;
    border-radius: 18px !important;
    position: relative;
    // min-height:80%;
    min-width: 100%;

    &::before {
        position: absolute;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px !important;
        font-weight: 500;
        height: 100%;
        width: 100%;
        opacity: 1;
        z-index: 999;
        border-radius: 18px !important;
    }

    &::after {
        border-radius: 18px !important;
        opacity: 1;
    }
}
.images-picker {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.475rem;
    display: inline-block;
    position: relative;
}
.images-picker .previewImage {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 0.313rem;
    height: 100px;
    width: 100px;
}
.images-picker .picker-edit,
.images-picker .previewImage {
    border: 0.063rem solid #e9ecef;
    box-shadow: 0 5px 20px rgba(173, 181, 189, 0.2);
}
.images-picker .picker-edit {
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 25px;
    justify-content: center;
    position: absolute;
    right: -10px;
    text-align: center;
    top: -10px;
    width: 25px;
}
.images-picker .picker-edit label {
    cursor: pointer;
}
