.img-box > input {
    display: none;
}

.template-border {
    border: 3px solid #0b9ef7 !important;
    border-radius: 10px !important;
}

.btn-check {
    &:focus + .btn {
        outline: unset !important;
        box-shadow: unset !important;
    }
}
.btn {
    &:focus {
        outline: unset !important;
        box-shadow: unset !important;
    }
}

.screen.image {
    padding: 5px;
    display: block;
    position: relative;
    cursor: pointer;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    height: auto;

    img {
        width: 100%;
        transition-duration: 0.5s;
        transform-origin: 50% 50%;
        object-fit: cover;
        object-position: top;
        height: 300px;
        transition: 5s all ease;
    }

    &:hover {
        img {
            object-position: left;
        }
    }
}

.screen.vcard_11 {
    padding: 5px;
    display: block;
    position: relative;
    cursor: pointer;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    height: auto;

    img {
        width: 100%;
        transition-duration: 0.5s;
        transform-origin: 50% 50%;
        object-fit: cover;
        object-position: left;
        height: 300px;
        transition: 5s all ease;
    }

    &:hover {
        img {
            object-position: right;
        }
    }
}

.theme-img-radio .screen.vcard_11 {
    padding: 5px;
    display: block;
    position: relative;
    cursor: pointer;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    height: auto;

    img {
        width: 100%;
        transition-duration: 0.5s;
        transform-origin: 50% 50%;
        object-fit: cover;
        object-position: left;
        height: 400px;
        transition: 5s all ease;
    }

    &:hover {
        img {
            object-position: right;
        }
    }
}

.theme-img-radio {
    padding: 5px;
    display: block;
    position: relative;
    cursor: pointer;
    width: 100%;
    margin: auto;
    border-radius: 5px;
    height: auto;
    position: relative !important;

    img {
        width: 100%;
        transition-duration: 0.2s;
        transform-origin: 50% 50%;
        object-fit: cover;
        object-position: top;
        height: 400px;
        transition: 5s all ease;
    }
    &::after {
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        top: 0;
        left: 0;
        background-color: #eff3f6a6;
        opacity: 0;
    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }

    &:hover {
        img {
            object-position: left;
        }
    }
}

.theme-img-radio.img-border {
    border: 3px solid #0b9ef7 !important;
    border-radius: 10px !important;
    position: relative;

    &::before {
        position: absolute;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px !important;
        font-weight: 500;
        height: 100%;
        width: 100%;
        opacity: 1;
        z-index: 999;
    }
    &::after {
        opacity: 1;
    }
}

.badge-tag {
    left: -42px;
    top: 15px;
    transform: rotate(-38deg) !important;
    font-size: 14px;
    width: 150px;
    height: 26px;
    background-color: #d8d8d8;
    text-align: center;
    font-weight: 600;
    color: #6c757d;
}
.vcard-container {
    .card-body {
        .card-img {
            .img-absolute {
                top: 0;
                left: 0;
                width: 100%;
                height: 74%;
                overflow: hidden;
                @media (max-width: 1399px) {
                    height: 70%;
                }
                @media (max-width: 1199px) {
                    height: 76%;
                }
                @media (max-width: 767px) {
                    height: 80%;
                }
                @media (max-width: 575px) {
                    height: 77%;
                }
                @media (max-width: 460px) {
                    height: 72%;
                }
                @media (max-width: 360px) {
                    height: 68%;
                }
                img {
                    vertical-align: middle;
                    height: 100%;
                    border-radius: 10px;
                    object-fit: cover;
                    object-position: top;
                    width: 100%;
                }
            }
            .vcard-actions {
                display: none;
                position: absolute;
                bottom: 32%;
                left: 50%;
                transform: translateX(-50%);
                text-align: center;
                @media (max-width: 767px) {
                    bottom: 26%;
                }
                @media (max-width: 575px) {
                    bottom: 29%;
                }
                @media (max-width: 460px) {
                    bottom: 34%;
                }
                @media (max-width: 360px) {
                    bottom: 38%;
                }

                .vcard-button {
                    background-color: #ffffff;
                    width: 40px;
                    min-width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    @media (max-width: 575px) {
                        width: 35px;
                        min-width: 35px;
                        height: 35px;
                    }
                    svg {
                        @media (max-width: 575px) {
                            font-size: 16px !important;
                        }
                    }
                }
                .show-vcard a {
                    color: #0ac074;
                    text-decoration: none;
                }
                .vcard-link-copy a {
                    color: #ff8717;
                    text-decoration: none;
                }
                .show-chart a {
                    color: #0099fb;
                    text-decoration: none;
                }
                .vcard-Subscribers a {
                    color: #0099fb;
                    text-decoration: none;
                }
            }
            &:hover {
                .vcard-actions {
                    display: block;
                }
            }
        }

        .desc {
            padding-top: 45%;

            @media (max-width: 767px) {
                padding-top: 39%;
            }
            @media (max-width: 575px) {
                padding-top: 42%;
            }
            @media (max-width: 460px) {
                padding-top: 47%;
            }
            @media (max-width: 360px) {
                padding-top: 51%;
            }
        }
    }
}


.col-custom {
    padding: 0 2px !important;
    @media screen and (min-width: 1450px) {
        width: 20%;
    }
    @media (min-width: 992px) and (max-width: 1450px) {
        width: 25%;
    }
    @media (min-width: 800px) and (max-width: 991px) {
        width: 20%;
    }
    @media (min-width: 650px) and (max-width: 800px) {
        width: 25%;
    }
    @media (min-width: 470px) and (max-width: 650px) {
        width: 33.33%;
    }
    @media screen and (max-width: 470px) {
        width: 50%;
    }
}
.screen.image {
    @media screen and (max-width: 580px) {
        max-width: 100% !important;
    }
}
