//colors
$dark: #18232D !default;
$dark-blue: #101057 !default;
$white: #ffffff !default;
$black: #000000 !default;

//theme color variable

$gray-100: #949494 !default;
$gray-200: #7D7D7D !default;
$gray-300: #747B81 !default;
$gray-400: #4D4D4D !default;
$blue-100: #CCD4E4 !default;
$blue-200: #99A9C9 !default;
$purpul: linear-gradient(6.89deg, #BC4AFE 6.05%, #F478FD 95.6%) !default;
$pink: linear-gradient(6.89deg, #fd3d84 6.05%, #fc3881 6.06%, #fd70a4 95.6%) !default;
$green: linear-gradient(188.3deg, #8ff8ac 5.9%, #1bc2a1 93.64%) !default;
$red: linear-gradient(180deg, #ff6464 0%, #ff0000 100%) !default;
$orange: linear-gradient(6.89deg, #ff5c00 6.05%, #feb62b 95.6%) !default;
$blue: linear-gradient(1.67deg, #369efe 1.56%, #47eef9 98.74%) !default;
$border-radius: 0.625rem !default;



