@import "variables";

.hero-about {
    h2 {
        background-image: $primary;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .desc {
        border: 1px solid rgb(255 255 255 / 15%);
        padding: 20px;
        border-radius: 10px;
        @media (max-width: 375px) {
            padding: 12px;

        }

        span {
            background-image: $primary;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        a {
            color: $white;
        }

        .icon {
            width: 16px;
            height: 16px;

            i::before {
                background-image: $primary;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

.services-section {
    .card {
        background-color: transparent !important;
        border: $border;
        min-height: 163px !important;

        .tag {
            position: absolute;
            top: -20px;
            right: 20px;
            width: 40px;
            height: 40px;
            border-radius: 5px;
            background-image: $primary;
            @media (max-width: 460px) {
                top: -17px;
                right: 20px;
                width: 35px;
                height: 35px;
            }
        }

        .card-img-top {
            width: 60px;
            height: 60px;

            i {
                background-image: $primary;
                background-clip: text;
                -webkit-text-fill-color: transparent;

                &:before {
                    font-size: 50px;

                }
            }
        }

        &:hover {
            i {
                background-image: linear-gradient(123.62deg, $white 0%, $white 100%);
                -webkit-text-fill-color: $white;
            }

            .card-body h5 {
                background-image: $primary;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .card-body {
            position: relative;
            color: $white;

            border-bottom: $border;
            &::after {
                background-image: $primary;
                position: absolute;
                content: "";
                left: 0;
                right: 0;
                top: 100%;
                bottom: 0;
                width: 45px;
                height: 1px;
                z-index: 3;
            }

            .card-text {
            max-height:190px;
            overflow:auto;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            }
        }
    }
    .services-slider-view {
        .slick-list {
            height: 255px !important;
            padding-top: 5px !important;
            @media (max-width: 500px) {
                height: 350px !important;
            }
        }
        .slick-list .slick-track {
            padding-top: 55px !important;
            @media (max-width: 400px) {
                padding-top: 15px !important;
            }
        }
        .service-card {
            border-radius: 10px;
            min-height: 175px;
            max-height: 185px;
            color: $white;
            padding: 18px;
            display: block;
            .card-title {
                color: $white;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
                margin: 2px 0 0 0 !important;
                @media (max-width: 500px) {
                    margin: 12px 0 0 0 !important;
                }
            }
            .description-text {
                color: $blue-100;
                font-size: 14px;
                margin: 10px 0 0 0;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                overflow: hidden;
                @media (max-width: 500px) {
                    -webkit-line-clamp: 3;
                }
            }
            .img {
                width: fit-content;
                display: inline;
                float: left;
                img {
                    width: 120px;
                    height: 120px;
                    margin-right: 10px;
                    border-radius: 20px !important;
                    @media (max-width: 500px) {
                        width: 90px;
                        height: 90px;
                    }
                }
            }
            @media (max-width: 500px) {
                min-height: 235px !important;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                justify-content: center;
            }
        }
        .slick-list .slick-slide {
            margin: 0 15px;
        }
    }
}

.client-section {
    .client-box {
        border-radius: 6px;
        background-color: $dark;

        // &:hover {
        //     background-color: $white;
        // }

        .client-img {
            width: 100%;
            height: 220px;
            margin: auto;
        }
    }
}

.custom-margin-testimonial {
    margin-left: -231px !important;
}

.testimonial-card-custom {
    min-height: 163px !important;
    //width: 473px !important;
}

.testimonial-2card-custom {
    min-height: 268px !important;
    //width: 474px !important;
    margin-left: 11px !important;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 900px !important;
    }
}
.testimonials-section .card .card-body .card-text {
    max-height:170px;
    overflow:auto;
}
.video-container {
    height:220px;
}
